.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
  padding-left: 2rem;
}

.toggle-container-off {
	background-color: #f3f3f3;
	border: 0.5px solid black;
	border-radius: 20px;
	width: 8rem;
	height: 2rem;
}

.toggle-container-on {
	background-color: lightgreen;
	border: 0.5px solid black;
	border-radius: 20px;
	width: 8rem;
	height: 2rem;
}

.toggle-off {
	background-color: #fff;
	border: 0.5px solid black;
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	transform: translate(-1px, -0.5px);
  transition: transform 0.3s;
}

.toggle-on {
	background-color: #fff;
	border: 0.5px solid black;
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	transform: translate(100px, -0.5px);
	transition: transform 0.3s;
}
